.chat__main
  %ul.chat__main--groupinfo
    %li.title
      = @group.name
      %p.member-name
        Member :  #{current_user.name}
    %li.edit
    = link_to edit_group_path(@group) ,class: "edit-btn" do
      Edit
  .chat__main--messagelist
    .member-name
      %p.name
        taka
      %p.time
        2020/02/02(Sun)20:20
    %p.member-text
      おはよう！
    .member-name
      %p.name
        taka
      %p.time
        2020/02/02(Sun)20:20
    %p.member-text
      おはよう！
    .member-name
      %p.name
        taka
      %p.time
        2020/02/02(Sun)20:20
    %p.member-text
      おはよう！

  .chat__main--messageform
    .main-header
    .messages
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-form', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'input-form' do
            = icon('fas', 'image', class: 'input-form__image')
            = f.file_field :image, class: 'input-form__image__file'
        = f.submit 'Send', class: 'submit-btn'