.side__bar
  .side__bar--username
    .top__items
      %p.top__items--name
        = current_user.name
      %ul.top__items--icons
        %li.top__items--icon
          = link_to new_group_path do
            = icon('fas', 'edit', class: 'strong')
        %li.top__items--icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'strong')
  .side__bar--groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group-name
            = group.name
          .group-chat
            = group.show_last_message